@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    box-sizing: content-box;
    line-height: 1.6;
}
/*Step-1 block*/
.step-1 {
    background-image: url(https://static.tildacdn.com/tild6335-3166-4166-a335-643939336261/workplace1245776_1920.jpg);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:color-burn;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 40px 0 40px;
}

.topnav > a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.topnav-right a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    font-weight: 600;
}

.topnav-right button {
    background-color: #ff4c7c;
    border: none;
    color: white;
    border-radius: 5px;
    width: 129px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.topnav-right button:hover {
    background-color: white;
    color: #ff4c7c;
}

.step-1-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.step-1-info {
    margin-top: 300px;
    /* margin-bottom: 250px; */
    color: white;
}

.step-1-info h2 {
    font-size: 72px;
    padding: 0 0 35px 0;
}

.step-1-info p {
    width: 700px;
    font-size: 24px;
    font-weight: 300;
}

/*Step-1 endblock*/

/*Step-2 block*/
.step-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 559px;
}

.step-2 h2 {
    font-size: 42px;
    margin-bottom: 30px;
}

.step-2 p {
    text-align: center;
    max-width: 960px;
    font-size: 24px;
    font-weight: 300;
}
/*Step-2 endblock*/

/*Step-3 block*/
.step-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 891px;
    background-color: whitesmoke;
}

.step-3-header {margin-bottom: 105px;}

.step-3-header h2 {
    font-size: 42px;
    margin-bottom: 30px;
    text-align: center;
}

.step-3-header p {
    max-width: 560px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.step-3-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.step-3-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}

.step-3-box img {margin-bottom: 25px;}

.step-3-box h2 {
    margin: 12px 0 25px 0;
    font-size: 18px;
}

.step-3-box p {
    max-width: 320px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;   
}

/*Step-3 endblock*/

/*Step-4 block*/
.step-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.step-4-header {
    margin-top: 150px;
    margin-bottom: 105px;
    text-align: center;
}

.step-4-header h2 {
    margin-bottom: 40px;
    font-size: 42px;
}

.step-4-header p {
    max-width: 560px;
    font-size: 24px;
    font-weight: 300;
}

.step-4-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}

.step-4-box-img-1 {
    background-image: url(https://static.tildacdn.com/tild6261-3436-4137-a665-633737326332/jonathanvelasquez384.jpg);
    background-position: center;
    background-size: cover;
    width: 560px;
    height: 420px;
}

.step-4-box-img-2 {
    background-image: url(https://static.tildacdn.com/tild6463-6339-4035-b262-663837633239/k158pom2037.jpg);
    background-position: center;
    background-size: cover;
    width: 560px;
    height: 420px;
}

.step-4-box-img-3 {
    background-image: url(https://static.tildacdn.com/tild6664-6133-4263-b130-666637653437/e732eb68a62c456a8dcc.jpg);
    background-position: center;
    background-size: cover;
    width: 560px;
    height: 420px;
}


.step-4-box-content {margin-left: 40px;}

.step-4-box-content h2 {
    font-size: 24px;
    line-height: 1.23;
    margin-bottom: 24px;
}

.step-4-box-content p {
    max-width: 500px;
    font-size: 18px;
    font-weight: 300;
}

/*Step-4 endblock*/